html, body{
    overflow-x: hidden
}

.inputError{
    color: #372727 ;
    margin-top: 8px;
    font-size: 14px;
}

.moveButton{
    width: 58px;
    height: 40px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px #00000099);
}

.inputBox{
    display: flex;
    justify-content: space-between;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.60)); 
    border-radius: 10px;
}

/* .inputBoxProfile{
    display: flex;
        justify-content: space-between;
        background-color: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.60));
        border-radius: 10px;
} */

.inputAnsBox{
    width: 450px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.60);
    padding: 12px;
}

.inputAnsBoxProfile{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.60);
    padding: 12px;
}

input[type=number] {
    -moz-appearance: textfield;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.depth {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: perspective(800px) rotateX(1deg); 
}

button{
    cursor: pointer ;
}

.inputAnsPc{
    font-family: var(--font-syne);
    position: relative;
    left: 20px;
    font-size: 16px;
    padding-right: 8px;
    font-weight: 500;
    width: calc(100%-20px);
    outline: none;
}
/*
.inputLaMobile{
    font-family: var(--font-syne);
    font-size: 14px;
    font-weight: 500;
    padding: 0px 0px 4px 4px ;
    width: 100%;
}

.inputNameNecessary{
    font-size: 8px;
    position: relative;
    top: -4px;
    color: #9f0712;
}

.inputAnsMobile{
    font-family: var(--font-syne);
    position: relative;
    left: 4px ;
    font-size: 12px;
    padding-right: 8px;
    font-weight: 500;
    width: calc(100%-20px);
    outline: none;
}*/